{{- if .Values.secrets.external -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
  annotations:
    hash: 'time-{{ include "secret.hash" . }}'
spec:
  secretStoreRef:
    name: aws-sm
    kind: ClusterSecretStore
  refreshInterval: "5m"
  target:
    # The secret name of the resource
    # Defaults to .metadata.name of the ExternalSecret
    name: {{ include "microservice.fullname" . }}

    # Enum with values: 'Owner', 'Merge', or 'None'
    # Default value of 'Owner'
    # Owner creates the secret and sets .metadata.ownerReferences of the resource
    # Merge does not create the secret, but merges in the data fields to the secret
    # None does not create a secret (future use with injector)
    creationPolicy: 'Owner'

    # DeletionPolicy defines how/when to delete the Secret in Kubernetes
    # if the provider secret gets deleted.
    # Valid values are Delete, Merge, Retain
    deletionPolicy: "Delete"

  # Used to fetch all properties from the Provider key
  dataFrom:
    {{- range $key := .Values.secrets.keys }}
    - extract:
        key: "{{ $key }}"
    {{- end }}
{{- end }}
