@use "modern-normalize";
@use "fonts";
@use "variables";
@use "reset";
@use "typography";
@use "transitions";
@use "utility";

html,
body {
  background-color: var(--c-body-bg);
  scroll-padding-top: var(--header-h);
  scroll-padding-bottom: 150px;
  scrollbar-width: thin;
}

body {
  background-color: var(--c-body-bg);
  color: var(--c-primary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--trs-default);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 24px;
}

.container {
  width: 100%;
  max-width: var(--container-w);

  @include respond-to(mobile) {
    padding: var(--container-padding);
  }
}

.icon {
  width: 24px;
  height: 24px;

  &--16 {
    width: 16px;
    height: 16px;
  }

  &--32 {
    width: 32px;
    height: 32px;
  }

  &--40 {
    width: 40px;
    height: 40px;
  }
}

.disable-select {
  -webkit-user-select: none;
  user-select: none;
}

.link {
  color: var(--c-primary);
  text-decoration: underline;
  cursor: pointer;
}
