@mixin respond-to($name, $bp: $breakpoints) {
  $max: breakpoint-max($name, $bp);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin respond-to-min($name, $bp: $breakpoints) {
  $min: breakpoint-min($name, $bp);

  @if $min {
    @media (min-width: #{$min + 0.1}) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin font($family, $name, $weight) {
  @font-face {
    font-weight: $weight;
    font-family: $family;
    src: url('@/assets/fonts/' + $name + '.woff') format('woff'), url('@/assets/fonts/' + $name + '.woff2') format('woff2');
    font-display: swap;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin touch {
  @media (pointer: coarse) {
    @content;
  }
}

@mixin has-backdrop-filter {
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    @content;
  }
}
