.h1 {
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0;
  font-weight: 600;
}

.p1 {
  font-size: 18px;
  line-height: 22px;
}

.p2 {
  font-size: 16px;
  line-height: 18px;
}

.p3 {
  font-size: 14px;
  line-height: 16px;
}

.p4 {
  font-size: 12px;
  line-height: 12px;
}
