@use "mixins" as *;

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.c-primary-text {
  color: var(--c-primary-text);
}

.c-primary {
  color: var(--c-primary);
}

.c-secondary-text {
  color: var(--c-secondary-text);
}

.c-orange {
  color: var(--c-orange);
}

.c-red {
  color: var(--c-red);
}

.c-disabled {
  color: var(--c-disabled)
}

.weight-400 {
  font-weight: 400;
}


.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.break-all {
  word-break: break-all;
}

.relative {
  position: relative;
}

.mobile {
  display: none;

  @include respond-to(mobile) {
    display: block;
  }
}

.not-mobile {
  display: block;

  @include respond-to(mobile) {
    display: none;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.contain {
  background-size: contain;
}

.d-none {
  display: none !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.submit-button-sticky-wrap {
  position: static;
  margin-top: 0;
  width: 100%;
  bottom: var(--container-padding-side);

  @include respond-to(mobile) {
    position: sticky;
    margin-top: auto;
  }
}
