@keyframes skeleton-animation {
  0% {
    background-position-x: 200%;
  }

  100% {
    background-position-x: 0;
  }
}

.rays {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 722px;
    height: 722px;
    background-image: url("/visuals/rays/light-blue.webp");
    background-size: contain;
    pointer-events: none;
    animation: rays 8s infinite linear;
  }
}

@keyframes rays {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.glowing-text {
  background: linear-gradient(
          90deg,
          var(--c-gray-700),
          rgba(188, 194, 210, 1),
          var(--c-gray-700)
  ) 0 0 / 50% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: glowing-text 3s infinite linear;
}

@keyframes glowing-text {
  to {
    background-position: 200% 0;
  }
}
